### -----------------------------------------------------------------
### Import S4 methods defined in other packages
###

### -----------------------------------------------------------------
### Import ordinary functions, variables in other packages
###
importFrom(readxl, read_excel)
importFrom("graphics", "layout", "lines", "plot", "text")
importFrom("stats", "dnorm", "end", "start")
importFrom("utils", "write.table")

  

### -----------------------------------------------------------------
### Export non-generic functions
###
export(
  # plotSpectrum.R
  generatePseudoGaussianSpectrum,
  
  # spectrum-utils.R
  normaliseSpectrum,
  geometricMF
)
